<article class="article wrapper">
  <header class="article-head">
    <h1 class="article-title">
      {%if meta['svg-title'] %}
        {{ meta['svg-title'] }}
      {% else %}
        <a href="{{ current.url }}">{{ current.title | smartypants }}</a>
      {% endif %}
    </h1>


    {% if current.parent %}
    <div class="meta">Published in <a href="{{ current.parent.url }}">{{ current.parent.title | smartypants }}</a> on <time datetime="{{ current.date }}">{{ current.date | date: "%B %d" }}</time></div>
    {% endif %}
  </header>

  <div class="article-content text">
    {{ thefuck }}
  </div>

  {% if type == 'post' and previous or next %}
    <nav class="article-next">
      <h2>Read this next</h2>
      <span>
      {% if previous %}
        <a href="{{ previous.url }}">
          {{ previous.title }}
        </a>
      {% endif %}
      </span>
      <span>
      {% if next %}
        <a href="{{ next.url }}">
          {{ next.title }}
        </a>
      {% endif %}
      </span>
    </nav>
  {% endif %}
</article>
