<footer class="ui" role="contentinfo">
    <p>You’ve made it to the bottom, pal. It’s a good sign, right? Nothing much to see here, I’m afraid. If you enjoyed this, you might want to consider spreading the word or giving me a shout. With that said, I bid you <i lang="fr">adieu</i> and go back to making things.</p>
    <ul>
        <li><a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license">Copyright</a>
        <li><a href="https://twitter.com/regiskuckaertz" rel="me author">Twitter</a>
        <li><a href="#top" rel="me author">Back to the top</a>
    </ul>
</footer>
