html{font:normal 100%/1.5 'Glosa' , Georgia, 'times new roman' , serif;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
@media (min-width: 60em){html{font-size:175%;}
}
body{background:#fdf8f8;border-top:6px solid #a04740;color:#333;-webkit-font-feature-settings:"liga";font-feature-settings:"liga";margin:0;min-height:100%;padding:0 1em;transition:opacity .8s;}
@media (min-width: 52em){html{font-size:150%;line-height:1.6;}
body{padding:0 2em;}
}
svg{fill:currentColor;}
img{height:auto;max-width:100%;}
a{color:#6565da;text-decoration:none;}
a:visited{color:#6b6b8c;}
a:focus,a:hover{border-bottom:2px solid #c7c9cb;}
sup{-webkit-font-feature-settings:"sups" 1;font-feature-settings:"sups" 1;font-variant-position:super;line-height:1;}
::-moz-selection,mark{background:#fdffdf;}
::selection,mark{background:#fdffdf;}
.at{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.wrapper{display:block;margin:0 auto;max-width:37em;}
.brand{-webkit-align-items:center;align-items:center;display:-webkit-flex;display:-ms-flexbox;display:flex;-ms-flex-align:center;-ms-flex-pack:justify;font-weight:bold;-webkit-justify-content:space-between;justify-content:space-between;margin:0 -1em;padding:1.5rem 1em;text-transform:lowercase;}
@media (min-width: 62.5em){.brand{padding:0 calc(50% - 16.5em);}
}
.brand-logo,.brand-logo:focus,.brand-logo:hover,.brand-logo:visited{border-bottom:0;color:inherit;}
.article-head{margin:4em 0 2em;}
.article-title{color:#a04740;font:italic 300 2em/1 Auto,hoefler text,times new roman,serif;-webkit-font-feature-settings:"liga" , "swsh";font-feature-settings:"liga" , "swsh";margin:0 0 1em;text-align:center;}
.article-title a,.article-title a:focus,.article-title a:hover,.article-title a:visited{border-bottom:0;color:inherit;}
.article-title a:focus,.article-title a:hover{color:#333;}
.article-pause{border-color:#f5f8fc;border-width:6px 0 0;box-sizing:border-box;line-height:1;margin:6em auto;max-width:4em;}
.article-more{text-align:center;}
.article-more a::after{content:' →';}
.article-next{margin:3rem 0;text-align:center;}
.article-next>h2{font-size:.75em;font-weight:normal;letter-spacing:.1em;line-height:1;margin:0 0 1em;text-transform:uppercase;}
.article-next>a{border-bottom:0;display:inline-block;font-family:Auto,Hoefler Text,Georgia,serif;font-style:italic;font-weight:300;padding:.25em .5em .4em;transition:.3s linear;}
.article-next>a::after,.article-next>a::before{display:inline-block;transition:.15s linear;}
.article-next>a:focus,.article-next>a:hover{color:#a04740;}
.article-next>a:focus::before,.article-next>a:hover::before{-webkit-transform:translate(-5px,0);transform:translate(-5px,0);}
.article-next>a:focus::after,.article-next>a:hover::after{-webkit-transform:translate(5px,0);transform:translate(5px,0);}
@media (min-width: 38em){.article-next>a:not(:only-of-type){width:15em;}
}
.article-next>a:nth-of-type(1){text-align:right;}
.article-next>a:nth-of-type(2){border-left:1px solid #c7c9cb;text-align:left;}
.article-next>a:nth-of-type(1)::before{content:'← ';}
.article-next>a:nth-of-type(2)::after{content:' →';}
.meta{color:#ccc;-webkit-font-feature-settings:"smcp";font-feature-settings:"smcp";font-size:.75rem;text-align:center;}
.meta a,.meta a:visited{border-bottom:2px solid #ccc;color:inherit;-webkit-font-feature-settings:"smcp" 0;font-feature-settings:"smcp" 0;font-style:italic;}
.text h2{font-size:1.6rem;font-weight:normal;line-height:1.8rem;margin:3.6rem 0 1.8rem;text-align:center;}
.text h3{font-size:.8em;margin:3.2rem 3.2rem 1.6rem;}
.text p{margin:0 0 1.8rem;}
.article-content>p:first-child:first-letter{color:#a04740;float:left;font-size:5em;line-height:72px;margin:0 .1em -0.2em 0;}
.text ol,.text ul{list-style-position:inside;margin:1.8rem 0;padding:0;}
.text li>strong:first-child{font-size:.75rem;font-weight:bold;text-transform:uppercase;}
.text hr{border:0;box-sizing:border-box;line-height:1;margin:4.5em 0;text-align:center;}
.text hr::before{content:'* * *';}
.text blockquote{font:normal 700 1.5rem/1.8rem Glosa, Georgia, 'times new roman' , serif;margin:1.8rem 0;}
.text blockquote::before{content:'“';float:left;margin:0 -0.55em;}
.text blockquote>*:last-child::after{content:'”';}
.text blockquote p{margin-left:0;margin-right:0;}
.text blockquote del{text-decoration:none;}
body>footer{font-size:.75em;line-height:1.8;padding:3em 0;text-align:center;}
body>footer small{font-size:inherit;}
body>footer ul{list-style:none;margin:0;padding:0;}
.section:before{background:linear-gradient(to right,#ffffff,#c7c9cb,#ffffff);content:'';display:block;height:1px;margin:0 3em 3em;}
.codepattern{background:#fff;border:1px solid #eadcdb;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.codepattern>*{padding:1rem;}
.codepattern>pre{border-bottom:1px dotted #eadcdb;font-family:inherit;font-size:.75em;margin:0;}
@media (min-width: 35em){body{padding:0 3em;}
.codepattern>*{padding:1.6rem;}
}
table{-webkit-font-feature-settings:"tnum";font-feature-settings:"tnum";font-size:.75rem;width:100%;}
td,th{padding:0 1rem .25rem 0;text-align:left;}
figure{margin:3.6rem 0;}
figure .g{border:.25rem solid #a04740;border-left:0;border-right:0;padding:1.8rem 0;}
figcaption{color:#a1a1a1;font-size:.75rem;margin:.9rem auto 0 1rem;max-width:30em;}
ins:not([class]){text-decoration-color:rgba(0,0,0,0.1);-webkit-text-decoration-style:dotted;text-decoration-style:dotted;}
.credit{color:#d4d4d4;}
.wf-loading body{opacity:0;}
.wf-active body{opacity:1;}
.with-sidenotes .wrapper{margin-left:0;max-width:none;}
.aside{color:#a1a1a1;margin:0;}
.aside figcaption{color:inherit;font-size:1em;margin:0;max-width:none;}
@media (min-width: 30em){body{padding:0 2em;}
.brand{margin:0 -2em;padding:2em;}
.aside{box-sizing:border-box;float:right;font-size:.75em;margin-top:.4em;padding:0 0 0 3em;width:50%;}
}
.sic{font-style:italic;font-weight:normal;text-decoration:none;}
.sic::after,.sic::before{font-style:normal;}
.sic::before{content:'[';}
.sic::after{content:']';}
.footnotes{font-size:.75em;}
.footnotes::before{border-top:2px solid #c7c9cb;content:'';display:block;height:0;width:10em;}
@media (min-width: 44em){.codepattern--small{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.codepattern--small>pre{border-bottom:0;border-right:1px dotted #eadcdb;-webkit-flex:2;-ms-flex:2;flex:2;}
.codepattern--small>div{-webkit-flex:3;-ms-flex:3;flex:3;}
.article-head{margin-top:8em;}
.article-title{font-size:2em;margin-bottom:3em;}
.article-content>p:first-child:first-letter{font-size:5.2em;line-height:112px;}
.text p{margin:0 3.2rem 3rem;}
.text ol,.text ul{margin:3rem 3.2rem;}
.with-sidenotes p{margin:0 0 3em;}
.with-sidenotes .article-title,.with-sidenotes .meta,.with-sidenotes .text h2{text-align:left;}
.with-sidenotes .article-content{width:61.8%;}
.with-sidenotes .aside{margin-right:calc(-38.2% / 61.8 * 100);padding:0 1.6rem;width:calc(38.2% / 61.8 * 100);}
.with-sidenotes .text blockquote{width:calc(100% / 61.8 * 100);}
.footnotes{margin:0 3.2rem;}
.footnotes>ol{margin:3rem 0;}
}
.footnotes li+li{margin-top:.5em;}
.gallery{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin:3.2em -1em;}
.gallery>a{background:#a04740;display:-webkit-flex;display:-ms-flexbox;display:flex;transition:0.15s ease-in;}
.gallery>a:not(:last-child){margin-bottom:-8.1%;}
.gallery>a:nth-child(odd){-webkit-clip-path:polygon(0% 0%,100% 25%,100% 75%,0% 100%);clip-path:polygon(0% 0%,100% 25%,100% 75%,0% 100%);}
.gallery>a:nth-child(even){-webkit-clip-path:polygon(0% 25%,100% 0%,100% 100%,0% 75%);clip-path:polygon(0% 25%,100% 0%,100% 100%,0% 75%);}
.gallery>a:focus,.gallery>a:hover{background:#fff;border:0;}
.gallery>a>img{mix-blend-mode:multiply;width:100%;}
