<!DOCTYPE html>
<html id="{{ post.url | split:"/" | last }}" class="{{ meta.type }}">
<head>
    {% include head.common.html %}
    <title>{{ page.title }} — {{ site.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://readtheblackswan.lu{{ page.url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="">
    {% if page['has pen'] %}
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    {% endif %}
</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>
