<!DOCTYPE html>
<html class="{{ meta.type }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle }}</title>
  {% if home? %}
  <meta property="twitter:account_id" content="{{ site.meta.twitter_id }}">
  <meta property="fb:admins" content="806504781">
  {% endif %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="The Black Swan">
  <meta property="og:url" content="http://readtheblackswan.lu{{ url }}">
  <meta property="og:description" content="{{ meta.description }}">
  <link rel="alternate" type="application/rss+xml" href="{{ site.feed_url }}">
  <script>{% include 'includes/scripts' %}loadCSS('/styles/screen.min.css'){% if meta['customcss'] %};loadCSS('/styles/{{ meta['customcss'] }}'){% endif %}</script>
  <style>{% include 'includes/critical' %}</style>
</head>
<body>
  {% include 'includes/header' %}
  {{ content }}
  {% include 'includes/footer' %}
  {{ scripts }}
</body>
</html>
