html{ font: normal normal normal 100%/1.5 Glosa, Georgia, 'times new roman', serif; -webkit-hyphens: auto; }
@media (min-width: 52em){
html{ font-size: 150%; line-height: 1.6; }
}
@media (min-width: 60em){
html{ font-size: 175%; }
}
body{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 1em; padding-bottom: 0px; padding-left: 1em; min-height: 100%; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 30em){
body{ padding-top: 0px; padding-right: 2em; padding-bottom: 0px; padding-left: 2em; }
}
@media (min-width: 35em){
body{ padding-top: 0px; padding-right: 3em; padding-bottom: 0px; padding-left: 3em; }
}
@media (min-width: 52em){
body{ padding-top: 0px; padding-right: 2em; padding-bottom: 0px; padding-left: 2em; }
}
img{ height: auto; max-width: 100%; }
a{ color: rgb(101, 101, 218); text-decoration: none; }
.wrapper{ display: block; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; max-width: 37em; }
.meta{ color: rgb(204, 204, 204); font-size: 0.75rem; text-align: center; }