/* Some bits directly inherited from normalize.css
 * Source: http://necolas.github.io/normalize.css/
 */
html {
  font: normal 100%/1.5 'Glosa', Georgia, 'times new roman', serif;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
@media (min-width: 52em) {
  html {
    font-size: 150%;
    line-height: 1.6;
  }
}
@media (min-width: 80em) {
  html {
    font-size: 175%;
  }
}
body {
  background: #fff;
  color: #333;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  margin: 0;
  padding: 0 1em;
  min-height: 100%;
  transition: all .8s;
}
@media (min-width: 30em) {
  body {
    padding: 0 2em;
  }
}
@media (min-width: 35em) {
  body {
    padding: 0 3em;
  }
}
@media (min-width: 52em) {
  body {
    padding: 0 2em;
  }
}
svg {
  fill: currentColor;
}
img {
  height: auto;
  max-width: 100%;
}
a {
  color: #6565DA;
  text-decoration: none;
}
a:visited {
  color: #6B6B8C;
}
a:hover,
a:focus {
  border-bottom: 2px solid #c7c9cb;
}
sup {
  -webkit-font-feature-settings: "sups" 1;
          font-feature-settings: "sups" 1;
  font-variant-position: super;
  line-height: 1;
}
mark,
::-moz-selection {
  background: #FDFFDF;
}
mark,
::selection {
  background: #FDFFDF;
}
.at {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
}
.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 37em;
}
.brand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -1em;
  padding: 1.5rem 1em;
  text-transform: lowercase;
}
@media (min-width: 30em) {
  .brand {
    margin: 0 -2em;
    padding: 2em;
  }
}
@media (min-width: 64.75em) {
  .brand {
    padding: 2em calc(50% - 16.5em);
  }
}
.brand-logo,
.brand-logo:visited,
.brand-logo:hover,
.brand-logo:focus {
  border-bottom: 0;
  color: inherit;
}
.article-head {
  margin: 4em 0 2em;
}
@media (min-width: 44em) {
  .article-head {
    margin-top: 8em;
  }
}
.article-title {
  color: #A04740;
  font: italic 300 2em/1 Auto, hoefler text, times new roman, serif;
  -webkit-font-feature-settings: "liga", "swsh";
          font-feature-settings: "liga", "swsh";
  margin: 0 0 1em;
  text-align: center;
}
@media (min-width: 44em) {
  .article-title {
    font-size: 2em;
    margin-bottom: 3em;
  }
}
.article-title a,
.article-title a:visited,
.article-title a:hover,
.article-title a:focus {
  border-bottom: 0;
  color: inherit;
}
.article-title a:hover,
.article-title a:focus {
  color: #333;
}
.article-pause {
  border-color: #F5F8FC;
  border-width: 6px 0 0;
  box-sizing: border-box;
  line-height: 1;
  margin: 6em auto;
  max-width: 4em;
}
.article-more {
  text-align: center;
}
.article-more a::after {
  content: ' →';
}
.article-next {
  margin: 3rem 0;
  text-align: center;
}
.article-next > h2 {
  font-size: .75em;
  font-weight: normal;
  letter-spacing: .1em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 1em;
}
.article-next > a {
  border-bottom: none;
  display: inline-block;
  font-family: Auto, Hoefler Text, Georgia, serif;
  font-style: italic;
  font-weight: 300;
  padding: .25em .5em .4em;
  transition: .3s linear;
}
.article-next > a::before,
.article-next > a::after {
  display: inline-block;
  transition: .15s linear;
}
.article-next > a:hover,
.article-next > a:focus {
  color: #A04740;
}
.article-next > a:hover::before,
.article-next > a:focus::before {
  -webkit-transform: translate(-5px, 0);
          transform: translate(-5px, 0);
}
.article-next > a:hover::after,
.article-next > a:focus::after {
  -webkit-transform: translate(5px, 0);
          transform: translate(5px, 0);
}
@media (min-width: 38em) {
  .article-next > a:not(:only-of-type) {
    width: 15em;
  }
}
.article-next > a:nth-of-type(1) {
  text-align: right;
}
.article-next > a:nth-of-type(2) {
  border-left: 1px solid #c7c9cb;
  text-align: left;
}
.article-next > a:nth-of-type(1)::before {
  content: '← ';
}
.article-next > a:nth-of-type(2)::after {
  content: ' →';
}
.meta {
  color: #ccc;
  font-size: .75rem;
  -webkit-font-feature-settings: "smcp";
          font-feature-settings: "smcp";
  text-align: center;
}
.meta a,
.meta a:visited {
  border-bottom: 2px solid #ccc;
  -webkit-font-feature-settings: "smcp" 0;
          font-feature-settings: "smcp" 0;
  font-style: italic;
  color: inherit;
}
h2 {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.8rem;
  margin: 3.6rem 0 1.8rem;
  text-align: center;
}
h3 {
  font-size: .8em;
  margin: 3.2rem 3.2rem 1.6rem;
}
p {
  margin: 0 0 1.8rem;
}
@media (min-width: 44em) {
  p {
    margin: 0 3.2rem 3rem;
  }
}
.article-content > p:first-child:first-letter {
  color: #A04740;
  float: left;
  font-size: 5em;
  line-height: 72px;
  margin: 0 0.1em -0.2em 0;
}
@media (min-width: 44em) {
  .article-content > p:first-child:first-letter {
    font-size: 5.2em;
    line-height: 4.375rem;
  }
}
@media (min-width: 52em) {
  .article-content > p:first-child:first-letter {
    line-height: 4.6667rem;
  }
}
ol,
ul {
  list-style-position: inside;
  margin: 1.8rem 0;
  padding: 0;
}
@media (min-width: 44em) {
  ol,
  ul {
    margin: 3rem 3.2rem;
  }
}
li > strong:first-child {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}
hr {
  border: 0;
  box-sizing: border-box;
  line-height: 1;
  margin: 4.5em 0;
  text-align: center;
}
hr::before {
  content: '* * *';
}
blockquote {
  font: normal 700 1.5rem/1.8rem Glosa, Georgia, 'times new roman', serif;
  margin: 1.8rem 0;
}
blockquote::before {
  content: '“';
  float: left;
  margin: 0 -0.55em;
}
blockquote > *:last-child::after {
  content: '”';
}
blockquote p {
  margin-left: 0;
  margin-right: 0;
}
blockquote del {
  text-decoration: none;
}
body > footer {
  font-size: .75em;
  line-height: 1.8;
  padding: 3em 0;
  text-align: center;
}
body > footer small {
  font-size: inherit;
}
body > footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section:before {
  background: linear-gradient(to right, #ffffff, #c7c9cb, #ffffff);
  content: '';
  display: block;
  height: 1px;
  margin: 0 3em 3em;
}
.codepattern {
  background: #fff;
  border: 1px solid #EADCDB;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.codepattern > * {
  padding: 1rem;
}
.codepattern > pre {
  border-bottom: 1px dotted #EADCDB;
  font-family: inherit;
  font-size: .75em;
  margin: 0;
}
@media (min-width: 35em) {
  .codepattern > * {
    padding: 1.6rem;
  }
}
@media (min-width: 44em) {
  .codepattern--small {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .codepattern--small > pre {
    border-bottom: 0;
    border-right: 1px dotted #EADCDB;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .codepattern--small > div {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}
table {
  -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
  font-size: .75rem;
  width: 100%;
}
th,
td {
  padding: 0 1rem .25rem 0;
  text-align: left;
}
figure {
  margin: 3.6rem -1em;
}
@media (min-width: 30em) {
  figure {
    margin: 3.6rem -2em;
  }
}
@media (min-width: 35em) {
  figure {
    margin: 3.6rem -3em;
  }
}
@media (min-width: 52em) {
  figure {
    margin: 3.6rem -2em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 37em), (min-width: 64.75em) {
  figure {
    margin: 3.6rem calc(-50vw + 18.5em);
  }
}
@media (min-width: 52em) {
  figure > div {
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}
figure img {
  display: block;
}
figcaption {
  color: #a1a1a1;
  font-size: .75rem;
  margin: .9rem 1rem 0;
  max-width: 30em;
}
@media (min-width: 52em) {
  figcaption {
    max-width: none;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin: 0;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
figcaption > p {
  margin: 0 0 .9rem;
}
@media (min-width: 52em) {
  figcaption > p {
    margin: 1rem;
  }
}
.credit {
  color: #d4d4d4;
}
@media (min-width: 52em) {
  figcaption > .credit {
    font-size: .75em;
  }
}
ins:not([class]) {
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
          text-decoration-color: rgba(0, 0, 0, 0.1);
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.wf-loading body {
  opacity: 0;
}
.wf-active body {
  opacity: 1;
}
/* Alternate layouts */
.with-sidenotes .brand {
  padding-left: 2em;
}
.with-sidenotes .wrapper {
  margin-left: 0;
  max-width: none;
}
.with-sidenotes .article-next > h2 {
  text-align: center;
}
@media (min-width: 44em) {
  .with-sidenotes p {
    margin: 0 0 3em;
  }
  .with-sidenotes .article-title,
  .with-sidenotes .meta,
  .with-sidenotes h2 {
    text-align: left;
  }
  .with-sidenotes .article-content {
    width: 61.8%;
  }
  .with-sidenotes .aside {
    margin-right: calc(-38.2% / 61.8 * 100);
    padding: 0 1.6rem;
    width: calc(38.2% / 61.8 * 100);
  }
  .with-sidenotes blockquote {
    width: calc(100% / 61.8 * 100);
  }
}
@media (min-width: 52em) {
  .with-sidenotes figure,
  .with-sidenotes figcaption {
    display: block;
  }
}
.aside {
  color: #a1a1a1;
  margin: 0;
}
.aside figcaption {
  color: inherit;
  font-size: 1em;
  margin: 0;
  max-width: none;
}
@media (min-width: 30em) {
  .aside {
    box-sizing: border-box;
    float: right;
    font-size: .75em;
    margin-top: .4em;
    padding: 0 0 0 3em;
    width: 50%;
  }
}
.sic {
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
}
.sic::before,
.sic::after {
  font-style: normal;
}
.sic::before {
  content: '[';
}
.sic::after {
  content: ']';
}
.footnotes {
  font-size: .75em;
}
@media (min-width: 44em) {
  .footnotes {
    margin: 0 3.2rem;
  }
}
.footnotes::before {
  content: '';
  display: block;
  border-top: 2px solid #c7c9cb;
  height: 0;
  width: 10em;
}
@media (min-width: 44em) {
  .footnotes > ol {
    margin: 3rem 0;
  }
}
.footnotes li + li {
  margin-top: .5em;
}
